.ant-carousel .slick-slide {
    text-align: center;
    
    height: 260px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1 !important;
    /* position: relative; */
  }

  .ant-carousel {
      z-index: 1 !important;
      /* background: orange; */
  }

  .left-arrow-c{
    position: relative;
    top: 140px;
    left: 10px;
    /* border: 3px solid; */
    z-index: 99 !important;
    font-size: 25px !important;
    fill: white;    
  }

  .right-arrow-c{
    position: relative;
    bottom: 140px;
    left: 330px;
    z-index: 99 !important;
    /* fill: white; */
    font-size: 25px !important;
    
  }

  
  
  .ant-carousel .slick-slide h1 {
    color: black;
  }


.img-container-carousel {
    /* position: relative; */
    width: 100%;
    height: 100%;
}

.img-container-carousel  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.fill {
    object-fit: fill;
}

.outer-carousel-c {
    /* width: 300px;
    height: 280px; */
    margin: 0 auto;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    /* background: red; */
}

.carousel-container {
    width: 360px;
    height: 260px;
    border-radius: 10px;
    /* border: 1px solid; */
    margin: 0 auto;
    /* position: relative; */
}